<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          padding: 8px;
          overflow: hidden;
          width:50px;
          cursor: pointer;
          
    
        }
        th:hover{
          color: orange;
        }
        .button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 5px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}



   
        </style>
</head>

<body>
    <main>
        <%- include('Components/navbar') %>
        <%- include('Components/regForum') %>
        <% for(const users of user){%> 
            <table >
                <tr>
                  <th><%=users.id %> </th>
                  <th><%=users.title %></th>
                  <th><%=users.body %></th>
                  <th><%=users.create_at %></th>
                  <th><button class="button" >Delete</button></th>
                </tr>
            </table>

            <% } %> 
        
       
 

    </main>
</body>
</html>